<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>Budgtr All</h1>
    </div>
    <table>
      <% budget.forEach((budget, index) => { %>
      <tr>
        <td><%=budget.date%></td>
        <td><a href="/budgets/<%=index%>"><%=budget.name%></a></td>
        <td><%=budget.amount%></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
