<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>New Line Item Form</h1>
        <form action="/budgets" method="post">
          <input placeholder="Date" type="text" name="date" id="date"/>
          <input placeholder="Name" type="text" name="name" id="name"/>
          <input placeholder="Amount" type="text" name="amount" id="amount"/>
          <input placeholder="From" type="text" name="from" id="from"/>
          <input type="submit" value="CREATE NEW ITEM"/>
        </form>
    </div>
  </body>
</html>
