@import url('https://fonts.googleapis.com/css?family=Modern+Antiqua|Open+Sans+Condensed:300');

:root {
  --pale-gold: #C0B283;
  --silk: #DCD0C0;
  --paper: #F4F4F4;
  --charcoal: #373737;
  --fresh: #4ABDAC;
  --irises: #007849;
}


body {
  color: var(--fresh);
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-family: 'Modern Antiqua', cursive;
}
.container {
  background: var(--paper);
  width: 90%;
  margin:auto;
  padding: 1em;
}

.submissions {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 1em;
}

.bird {
  padding: 1em;
  background: var(--irises);
  margin: 1em;
}

img {
  max-width: 150px;
}

button {
  background: var(--silk);
  padding: .5em;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.approval {
  background: var(--pale-gold);
}
