/* colors: https://www.canva.com/learn/website-color-schemes/ */
:root {
  --grey-blue: #a9b7c0;
  --calm-minty: #c7d8c6;
  --dusty-apricot: #efd9c1;
  --cement-powder: #cccbc6;
  --almost-white: #fcfbfa;
  --text-shadows: 2px 2px 3px #999;
}
body {
  margin: 0;
  background-color: var(--almost-white);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
#root > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1;
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}
main h3 {
  background-color: var(--calm-minty);
}
main div {
  flex-basis: 45%;
  margin: 1em;
}
header {
  background: var(--grey-blue);
  padding: 1em;
  margin-bottom: 1em;
}
h1,
h3 {
  margin: 0;
  color: var(--almost-white);
  text-shadow: var(--text-shadows);
}
h3 {
  text-align: center;
  padding: 0.5em;
}
footer {
  height: 4em;
  background-color: var(--grey-blue);
  grid-row-start: 2;
  grid-row-end: 3;
}
form {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--cement-powder);
  padding: 1em;
  color: var(--almost-white);
}
label {
  flex-basis: 45%;
  display: flex;
  justify-content: center;
}
input[type='text'] {
  text-align: center;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  color: var(--grey-blue);
  padding: 0.1em 0;
  font-size: 1em;
}
input[type='submit'] {
  text-align: center;
  margin-left: 1.5em;
  background-color: var(--calm-minty);
  border: 1px solid var(--grey-blue);
  padding: 0 3em;
}
table {
  border: none;
  width: 100%;
  text-align: center;
  background-color: var(--dusty-apricot);
}
th {
  border: none;
  color: var(--almost-white);
  background: var(--cement-powder);
}
tbody tr:hover {
  opacity: 0.5;
}
tr:nth-child(even) {
  color: #fff;
}
tr:nth-child(odd) {
  color: var(--grey-blue);
}
