<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <h1>New Log</h1>
    <form action="/logs" method="POST">
      Title: <input type="text" name="title" >
      Entry: <input type="textarea" name="entry" >
      Is Ship Broken: <input type="checkbox" name="isShipBroken" >
      <input type="submit" name="" value="Create Log">
    </form>
  </body>
</html>
