<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Log</h1>
    <form class="" action="/logs" method="post">
      Title:<input type="text" name="title" value="">
      Entry:<input type="textarea" name="entry" value="">
      Ship Broken?:<input type="checkbox" name="shipIsBroken">
      <input type="submit" name="" value="Create New Log Entry">
    </form>
  </body>
</html>
