
.daters-main {
  display: flex;
  justify-content: space-between;
}
.daters {
  display: flex;
  flex-direction: column;
  width: 180px;

}
main {
  flex-grow: 3;

}
header {
  height: 50px;
  text-align: center;
  font-size: 2.8em;
}
