/* body {
  border: 1px solid aqua;
} */

div {
<<<<<<< HEAD
    border: 1px solid lightsalmon;
=======
   1px solid lightsalmon;
>>>>>>> 0d6d1efdd192d5a6dc6830f8d5ae308e4a89625d
}

#container {
    width: 608px;
}

#color-palette, #my-palette {
    display: inline-block;
    width: 300px; height: 500px;
    overflow: hidden;
}

.square {
    display: inline-block;
    width: 28px; height: 28px;
    cursor: pointer;
}
