<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Products</title>
  </head>
  <body>
    <nav>
      <a href="/products/new">Create a New Product</a>
    </nav>
    <h1>Mongoose Outfitter</h1>
    <div>
      <% for (let i = 0; i < products.length; i++) { %>
        <div>
          <h3><%=products[i].name%></h3>
          <a href="/products/<%=products[i].id%>"><img src="<%=products[i].img%>" alt="product image"></a>
          <h5>Price: $<%=products[i].price%></h5>
        </div>
      <%}%>
    </div>
  </body>
</html>
