<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Product</title>
  </head>
  <body>
    <h1>New Product</h1>
    <form action="/products" method="POST">
      Name: <input type="text" name="name">
      Description: <input type="text" name="description">
      Image URL: <input type="url" name="img">
      Price: <input type="number" name="price">
      Quantity: <input type="number" name="qty">
      <input type="submit" name="" value="Create Item">
    </form>
  </body>
</html>
