<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mongoose Outfitter</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <body>
    <h1>New Product</h1>
    <form action="/products" method="POST">
      Name: <input type="text" name="name">
      Description: <input type="text" name="description">
      Image URL: <input type="text" name="img">
      Price: <input type="number" name="price">
      Quantity: <input type="number" name="qty">
      <input type="submit" name="" value="Create Item">
    </form>
  </body>
</html>
