<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/./style.css">
  </head>
  <body>
    <h1>Add New Item</h1>
    <form action="/budgets" method="POST">
      <input type="text" name="date" placeholder="Date">
      <input type="text" name="name" placeholder="Name">
      <input type="number" name="amount" placeholder="Amount">
      <input type="text" name="tags" placeholder="Tag 1">
      <input type="text" name="tags" placeholder="Tag 2">
      <input type="text" name="tags" placeholder="Tag 3">
      <input type="text" name="tags" placeholder="Tag 4">
      <input type="submit" name="" value="Add Item">
    </form>
  </body>
</html>
