<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index of Fruits</title>
  </head>
  <body>
    <h1>Index of Fruits</h1>
    <ul>
    <% fruits.forEach((fruit, index) => { %>
      <li><a href="/fruits/<%=index%>"> <%= fruit.name %></a> </li>
    <% }) %>
    </ul>
  </body>
</html>
