body {
  background-color: #F8F7FF;
  text-align: center;
}
.cat {
  font-family: fantasy;
}
.secret {
  opacity: 0.5;
}
ul {
  list-style: none;
}
table, th, td {
  border: 1px solid black;
}
table {
  margin-left: auto;
  margin-right: auto;
}
