<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Index of Pokemon</title>
  </head>
  <body>
    <h1>Pokemon</h1>
    <div>
      <a href="/pokemon/new">Add New</a>
    </div>
    <% pokemon.forEach((pokemon, index) => { %>
      <a href="/pokemon/<%=index%>"><img src="<%=pokemon.img%>" height="75px" width="75px"></a>
      <a href="/pokemon/<%=index%>/edit">EDIT</a>
      <form action="/pokemon/<%=index%>?_method=DELETE" method="post">
          <input type="submit" value="DELETE">
      </form>
    <% }) %>
  </body>
</html>
