<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Fruits</title>
  </head>
  <body>
    <h1>Fruits Index</h1>
    <ul>
      <% for (let i = 0; i < allFruits.length; i++)  { %>
        <li>
          <a href="/fruits/<%=i%>">
            <%= allFruits[i].name %>
          </a>
        </li>
      <% } %>
    </ul>
  </body>
</html>
