<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gitpub Drinks</title>
  </head>
  <body>
    <style type="text/css">
    body {
      background: #EEE1C8;
    }
    h1, h2 {
      color: #0076C1;
    }
    </style>
    <h1>Welcome to Gitpub</h1>
    <h2>Drinks</h2>
    <ul>
      <% for (let i = 0; i < allDrinks.length; i++) {%>
        <% let lowerCaseDrinks = allDrinks[i].name %>
        <% let upperCaseDrinks = lowerCaseDrinks.charAt(0).toUpperCase() + lowerCaseDrinks.slice(1) %>
        <li>
          <a href="/drinks/<%=i%>">
            <%= upperCaseDrinks %>
          </a>
        </li>
      <%}%>
    </ul>
    <h2>Food</h2>
    <ul>
      <% for (let i = 0; i < allFood.length; i++) {%>
        <li>
          <a href="/food/<%=i%>">
            <%= allFood[i].name %>
          </a>
        </li>
      <%}%>
    </ul>
  </body>
</html>
