<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gitpub Drinks</title>
  </head>
  <body>
    <style type="text/css">
    body {
      background: #EEE1C8;
    }
    h1 {
      color: #0076C1;
    }
    </style>
    <h1>Welcome to Gitpub</h1>
    <ul>
      <% for (let i = 0; i < allDrinks.length; i++) {%>
        <li>
          <a href="/drinks/<%=i%>">
            <%= allDrinks[i].name %>
          </a>
        </li>
      <%}%>
    </ul>
  </body>
</html>
