<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gitpub Drinks</title>
  </head>
  <body>
    <style type="text/css">
    body {
      background: #EEE1C8;
    }
    h1, h2 {
      color: #0076C1;
    }
    </style>
    <% let lowerCaseDrinks = allDrinks.name %>
    <% let upperCaseDrinks = lowerCaseDrinks.charAt(0).toUpperCase() + lowerCaseDrinks.slice(1) %>
    <h1>Gitpub Drinks</h1>
    <h2><%= upperCaseDrinks %></h2>
    <img src="<%= allDrinks.image %>" alt="drink image">
    <h3><%= allDrinks.price %></h3>
    <a href="/drinks">Back to Gitpub List</a>
  </body>
</html>
