<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gitpub Food</title>
  </head>
  <body>
    <style type="text/css">
    body {
      background: #EEE1C8;
    }
    h1 {
      color: #0076C1;
    }
    </style>
    <h1>Gitpub Food</h1>
    <h2><%= allFood.name %></h2>
    <img src="<%= allFood.image %>" alt="food image">
    <h3><%= allFood.price %></h3>
    <a href="/drinks">Back to Gitpub List</a>
  </body>
</html>
