<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mars Missions</title>
  </head>
  <body>
    <h1>Mars Missions</h1>
    <ul>
      <% for (let i = 0; i < allMissions.length; i++) {%>
        <li>
          <a href="/missions/<%=i%>">
          <%= allMissions[i].name %>
          </a>
        </li>
      <%}%>
    </ul>
  </body>
</html>
